<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css"></link>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Shopping list App</title>
</head>
<body>
    
    <div id="shopping-list">
        
        <!-- move this to the form input <input v-model ="newItem" type="text" placeholder="Add an item" />-->
        <!-- RadioButtons 
            <label><input type="radio" value="High" v-model="priority">High</label>
            <label><input type="radio" value="Low" v-model="priority">Low</label>
            </br>{{priority}}
        -->
        
        <!-- Selection List
        <label>Priority</label>
        <select v-model="newItemHighPriority">
          <option value="low">Low</option>
          <option value="high">High</option>  
        </select>
        </br>{{newItemHighPriority}}
        -->
        
        <!-- Checkbox 
         <label>
            <input type="checkbox" v-model="newItemHighPriority"> High Priority
        </label>
        </br>{{newItemHighPriority}}
        -->

        <!-- Multiple Checkboxes
        <label>
            <input type="checkbox" v-model="flavors" value="Vanilla">Vanilla
        </label>
        <label>
            <input type="checkbox" v-model="flavors" value="BlueBerry">BlueBerry
        </label>
        <label>
            <input type="checkbox" v-model="flavors" value="Chocolate">Chocolate
        </label>
        </br>{{flavors}}
    </br>{{newItem}}    
    -->

    <div class="header">
        <h1>{{header || 'Welcome'}}</h1>
        <button v-if="editing" v-on:click="doEdit(false)" class="btn btn-cancel">cancel</button>
        <button v-else v-on:click="doEdit(true)" class="btn btn-primary">Add Item</button>
    </div>
        <div v-if="editing" class="add-item-form">
            <input
                v-on:keyup.enter="saveItem" 
                v-model ="newItem" type="text" placeholder="Add an item"/>

            <label>
                <input type="checkbox" v-model="newItemHighPriority"> High Priority
            </label>

            <button 
                v-on:click="saveItem"
                class="btn btn-primary"
                v-bind:disabled="newItem.length < 5">
                Save Item
            </button>
        </div>
        <p v-if="editing" class="counter">{{characterCount}}/200</p>

        <p v-if="items.length===0">Nice Job! You have bought all your items!</p>
        <ul>
            <li 
                v-on:click="togglePurchased(item)"
                v-bind:class="{strikeout: item.purchased, priority: item.highPriority}"
                v-for="item in reversedItems" :key="item.id">{{item.label}}
            </li> 
        </ul>
    </div>

    <!-- Vue.Js Part -->
    
    <!-- Create Vue app-->
    <script>
        const shoppingListApp = Vue.createApp({
            data(){
                return{
                    //hello:"Hello World!!!!"
                    header:"Shopping List App",
                    flavors:[],
                    newItemHighPriority:false,
                    priority:"",
                    newItem:"",
                    editing:false,  
                    items:
                        [
                            // {id:1,label:"10 party hats"},
                            // {id:2,label:"2 board games"},
                            // {id:3,label:"20 cups"}
                        ]                   
                }
            },
            computed:{
                characterCount()
                {
                    return this.newItem.length;
                },
                reversedItems()
                {
                    return [...this.items].reverse();
                }
            },
            methods:{
                saveItem()
                {
                    if(this.newItem!="")
                    {
                        this.items.push({id:this.items.length+1, label:this.newItem, purchased:false, highPriority:this.newItemHighPriority});
                        this.newItem="";
                        this.newItemHighPriority="";
                    }    
                },
                doEdit(editing)
                {
                    this.editing=editing;
                    this.newItem="";
                    this.newItemHighPriority="";
                },
                togglePurchased(item)
                {
                    item.purchased = !item.purchased
                }
            }
        })
    </script>
    <!-- Mounting the App -->
    <script>
        shoppingListApp.mount("#shopping-list")
    </script>
</body>
</html>